{{define "head"}}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="ja" xml:lang="ja">
<head>
<meta charset="UTF-8"/>
<title>{{.Chapter.Title}} — {{.Title}}</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>{{end}}
{{define "foot"}}</body>
</html>
{{end}}
{{define "ruby"}}{{if .Reading}}<ruby>{{.Text}}<rt>{{.Reading}}</rt></ruby>{{else}}{{.Text}}{{end}}{{end}}
